
body {
	background-color: #F6F9F9;
}

/*header section start*/

.banner {
	width: 100%;
	float: left;
	background-image: url("../img/banner.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;

}


.content {
    width: 50%;
    margin: 100px auto;
    
    text-align: center;
    line-height: 2;
    /* padding: 125px; */
}
.content h2 {

font-size: 60px;

color: white;
}
.content span{

width: 70%;

margin: 15px auto;

border: 1px solid #15a4fa;

display: block;
}
.content p{
	color: #fff;

}
.content button {


	
    padding: 12px 30px;
    color: #ffff;
    background: transparent;
    border: 1px solid #15a4fa;
    border-radius: 5px;
    margin: 50px auto;
    display: block;
    transition: .8s ease;


}

.fa.fa-angle-down {
	color: white;
	margin-top: 30px;
	font-size: 40px;
}

/*header section end*/
/*design section strat*/



.design {
	width: 100%;
	float: left;
	background-color: #F6F9F9;


}
.title {


	text-align: center;
    margin: 70px auto;

}

.title h2{
	    margin-bottom: 20px;
}

.title p{
	line-height: 1.7;
	
}



/*design  section end*/

/*advertise section start*/
.advertise {
	width: 100%;
	float: left;
	background-color: #fff;

}

.element {
    margin: 76px auto;
    width: 31%;
    text-align: center;
    float: left;
}

.element i{

margin-bottom: 30px;

font-size: 60px;

padding: 10px 20px;

background: #48baff;

color: #fff;
}


.element h2{

margin-bottom: 19px;
}


.element p{

}



/*advertise section end*/


/*portfolio section start*/

.showcase {
	width: 100%;
	float: left;
	background-color: #F6F9F9;
	padding-bottom: 25px;
}

.pictures {
	width: 100%;
	overflow: hidden;
}
.image {
	width: 33.33%;
	float: left;
	padding: 10px 0px;


}

/*portfolio section end*/


/*contact start*/

.contact {
    width: 100%;
    float: left;
    
    opacity: 5.8;
    /* background-color: #2C374B; */
    background: url(../img/footer.jpg) ;

}
.main-contact {
	width: 50%;
	margin: 0 auto;
	display: block;
	text-align: center;
	padding: 60px;

}

.main-contact h2{
margin-bottom: 20px;	
color: #fff;


}
.main-contact p{
	margin-bottom: 20px;
	color: #fff;



}
.main-contact input[type="text"]{
	width: 70%;
	margin:10px auto;
	padding:10px;
	background-color: #2C384C;

}
.main-contact input[type="email"]{
	width: 70%;
	margin:10px auto;
	padding:10px;
	background-color: #2C384C;

}
.main-contact textarea {

	width: 70%;

	margin:10px auto;
	padding:10px;
	background-color: #2C384C;





}


.main-contact span{
	margin-right: 100px;
	color: #fff;

}
.main-contact input[type="submit"]{
	padding: 7px 30px;
	margin-right: 30px;
	background-color: #2C384C;
	color: #fff;
}


/*contact end*/

/*footer section start */
footer {
	width: 100%;
	float: left;
	padding:16px 0px;

}

.copyright {
	width: 50%;
	float: left;

}
.icons{

		/*width: 20%;*/
	    float: right;


}

.fa.fa-facebook {
	background-color: #15A4FA;
	color:#fff;
	padding: 8px;

}
.fa.fa-twitter {
	background-color: #15A4FA;
	color:#fff;
	padding: 8px;


}
.fa.fa-google-plus{
	background-color: #15A4FA;
	color:#fff;
	padding: 8px;
}
.fa.fa-linkedin{
	background-color: #15A4FA;
	color:#fff;
	padding: 8px;
}


/*footer section end */

/*media queries*/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 



.element h2{
font-size: 20px;
margin-bottom: 5px;
}


 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 

.element h2{
font-size: 20px;
margin-bottom: 5px;
}


 }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }


